.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.home-image {
  min-height: 300px;
  min-width: 300px;
}
.home-image-sm {
  display: none;
}
@media (max-width: 768px) {
  .home-image {
    display: none;
  }
  .home-image-sm {
    display: flex;
  }
}
